@import url("https://fonts.googleapis.com/css?family=Asap");
* {
  box-sizing: border-box; }

body {
  height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-repeat: no-repeat;
  font-family: "Asap", "serif";
  color: #fff;
  font-size: 0.8em; }

div.container {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  width: 40vw;
  padding: 1em; }

h1 {
  text-align: center;
  color: #ffffff; }

input {
  width: 100%;
  height: 40px;
  display: inline-block;
  margin-bottom: 2em;
  border: 1px solid #fff;
  padding: 0 0 0 1em;
  color: #fff;
  background: none; }
  input::placeholder {
    font-family: "Asap", "serif";
    color: #fff; }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer; }
  input[type="submit"] {
    background-color: #fff;
    color: #27263d;
    cursor: pointer;
    height: 50px; }
  input[type="number"] {
    margin-bottom: 2em; }

.check {
  margin-bottom: 2em; }

label {
  position: relative;
  padding-left: 30px;
  display: block; }

label input[type=checkbox] {
  position: absolute;
  top: -5px;
  left: 0px; }

p {
  margin-top: 2em; }

p#name-required {
  opacity: 0;
  font-size: 0.9em;
  margin: -1.7em 0 1em 1em;
  color: #d7213b; }

*:focus {
  outline: none; }
